* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}






.header {
  display: flex;
  background-color: #030303;
  color: #FFFFFF;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.header_1 {
  background-color: #030303;

}

.navigation li {
  text-decoration: none;
  list-style-type: none;

  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  transition: color 0.5s ease;
}

.navigation li:hover {
  cursor: pointer;
  color: #9D8665;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.logoLouvre {
  display: flex;
}

.logoLouvre:hover {
  cursor: pointer;
}

.logoLouvre img {
  height: 26px;
  width: 49px;
  margin-right: 25px;
}

.logoLouvre h1 {
  font-family: Forum;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 28px;
}

.navigation_1 {
  height: 26px;
  width: 775px;
}






.sectionWelcome_1 {
  background-color:#030303;
}
.sectionWelcome {
  height: 810px;
  background-color: #030303;
  position: relative;
}

.frame_welcome {
  width: 598px;
  height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
}

.frame_welcome button {
  all: unset;
  background-color: #710707;
  width: 360px;
  height: 75px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 100;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.5s ease;
}

.frame_welcome button:hover {
  background-color: #9D8665;
  cursor: pointer;
}

.frame_welcome h2 {
  color:#FFFFFF;
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

.frame_welcome p {
  font-family: Roboto;
  font-size: 28px;
  color:#FFFFFF;
  font-weight: 100;
}



.backgroundPicture {
  width: 1000px;
  height: 750px;

  position: absolute;
  z-index: 1;
  left: 440px;
}

.backgroundPicture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(3, 3, 3, 1), transparent);
  z-index: 2;
  pointer-events: none;
}